.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px;
    background-image: url("https://imgs.search.brave.com/zPbhGMAjARAoR8aG6vPt6IWy2xwupoSvwxsa2iYLIFU/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAzLzM2Lzg4Lzc0/LzM2MF9GXzMzNjg4/NzQ3MF9lRFBoSU5C/VXd6dEN1TDdIdmtZ/ZHcxY21VMUR1SFN3/bS5qcGc");
}